<!DOCTYPE html>
<html>
<head>
	<title>client Vue.js</title>
	<script src="https://unpkg.com/vue"></script>

<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>




</head>
<body>




<div style="background-color: #F7F7F9" align="center">
  <p>
    <h2 >Resultados de busqueda en api:</h2>
  </p>
  <hr>
</div>

<div id="result" >
<button type="button" v-on:click="connectionS()">Connect to snippets</button>
<button type="button" v-on:click="connectionP()">Connect to post</button>
<button type="button" v-on:click="connectionC()">Connect to comment</button>
	



<temp  v-for='a in answer'
	v-bind='a'>
	</temp>



  
  <hr>
</div>





</body>

<script >
	Vue.component('temp', {
  template: `<div>
    <li> Title: {{ title }}</li>
    <p v-if='author'>Author: {{ author }}</p>
    <p v-if='created'>Created: {{ created }}</p>
    <p v-if='category'>Category: {{ category }}</p>
    <p v-if='post'>Post: {{ post }}</p>
    <p v-if='body'> Body: {{body }}</p>
    <p v-if='code'> Code: {{code }}</p>
    <p v-if='linenos'>Lieneos: {{linenos}}</p>
    <p v-if='language'>Language: {{language}}</p>
    <p v-if='status'>Status: {{status}}</p>
    <p v-if='style'>Style: {{style}}</p>


    <hr>
   </div>
    

  `,
  props: ['author','category', 'created', 'title', 'code', 'linenos', 'language', 'style', 'body', 'status', 'post']
})

</script>





<script>
var app = new Vue({
  el: '#result',
  data: {
    answer: '',
  },

  methods:{
  	connectionS : function(){
  		this.$http.get('http://localhost:8000/snippets.json')
  		.then(response => {
  			this.answer = response.data
  			component=> tempP
  		})
        
  	},
  	connectionP : function(){
	this.$http.get('http://localhost:8000/post.json')
		.then(response => {
			this.answer = response.data
		})
	              
  	},
  	connectionC : function(){
  		this.$http.get('http://localhost:8000/comment.json')
  		.then(response => {
  			this.answer = response.data
  		})
               
  	},
  },
  
 
 

})


</script>
</html>