<!DOCTYPE html>
<html>
<head>
	<title>client Vue.js</title>
<script src="https://unpkg.com/vue"></script>

<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>




</head>
<body>




<div style="background-color: #F7F7F9" align="center">
  <p>
    <h2 >Resultados de busqueda en api:</h2>
  </p>
  <hr>
</div>

<div id="result" >
<button type="button" v-on:click="connectionS()">Connect to snippets</button>
<button type="button" v-on:click="connectionP()">Connect to post</button>
<button type="button" v-on:click="connectionC()">Connect to comment</button>
<button type="button" v-on:click="getToken()">get token</button>
<p v-if='token'>{{token}}</p>
<p v-else='token'> no tines token de registro</p> 
<hr>



<temp  v-for='a in answer'
	v-bind='a'>
	</temp>



  
  <hr>
</div>





</body>

<script >
	Vue.component('temp', {
  template: `<div>
    <li> Title: {{ title }}</li>
    <p v-if='author'>Author: {{ author }}</p>
    <p v-if='created'>Created: {{ created }}</p>
    <p v-if='category'>Category: {{ category }}</p>
    <p v-if='post'>Post: {{ post }}</p>
    <p v-if='body'> Body: {{body }}</p>
    <p v-if='code'> Code: {{code }}</p>
    <p v-if='linenos'>Lieneos: {{linenos}}</p>
    <p v-if='language'>Language: {{language}}</p>
    <p v-if='status'>Status: {{status}}</p>
    <p v-if='style'>Style: {{style}}</p>
    <p >Token: {{token}}</p>

    <hr>
   </div>
    

  `,
  props: ['author','category', 'created', 'title', 'code', 'linenos', 'language', 'style', 'body', 'status', 'post', 'token']


})

</script>





<script>
var token = 'Bearer RzSlyIIYNPJYj2pZoFgr7Trbz8XQig'
var option1 = {
  url: 'http://localhost:8000/snippets.json',
  method: 'GET',
  headers:
  {
    Authorization: this.token
  }
}
var option2 = {
  url: 'http://localhost:8000/post.json',
  method: 'GET',
  headers:
  {
    Authorization: this.token
  }
}
var option3 = {
  url: 'http://localhost:8000/comment.json',
  method: 'GET',
  headers:
  {
    Authorization: this.token
  }
}
var optionToken = {

}

var app = new Vue({
  el: '#result',
  data: {
    answer: '',
    token:this.token
  },

  methods:{
  	connectionS : function(){
  		this.$http(option1)
      .then(response => {
  			this.answer = response.data

  		})
        
  	},
  	connectionP : function(){
	   this.$http(option2)
		.then(response => {
			this.answer = response.data
		})
	              
  	},
  	connectionC : function(){
  		this.$http(option3)
  		.then(response => {
  			this.answer = response.data
  		})
               
  	},
    getToken : function(){
      
      var optionToken = {
        url: "http://localhost:8000/o/token/",
        method: 'POST',
        body:
        {
        grant_type:'password',
        username: 'sergio',
        pasword: 'swdzswdz',
        client_id: 'H70nJfj4f76Dtu0yJvkoRWz26eekNl3TdcV7Hpmn',
        client_secret: 'yMW3H27RXvmU5QYF8f0jSwCyulV24mVfdZZzwx2yXkENj9P6tPHkgRZBYhpyyqo2DrnQZO2pYc3cCwPb7rVnrKeFHOpupLv4sDA3IKTCHrbjxp5ojGcgSGcfdnu6KFmO',

        }
      }


    this.$http(optionToken)
    .then(response => {
      this.token = response.bodyText.promise
    })
    },
  },
  
 
 

})


</script>
</html>